# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Exercises/Assignment/build/
/HACKERRANK/nbproject/private/
/Trees/nbproject/private/
/HACKERRANK/build/
/Exercises/04_Trees/build/
/Exercises/Assignment/dist/
/Exercises/05_Graphs/nbproject/private/
/Exercises/05_Graphs/build/
/Exercises/06_Sorting/nbproject/private/
/Exercises/06_Sorting/build/
/Exercises/Assignment02/nbproject/private/
/Exercises/Assignment02/build/
/Exercises/SolutionPractical/nbproject/private/
/Exercises/SolutionPractical/build/
/Exercises/01_LinkedLists/build/